div.row(style="float:left")
    div.col-md-8
        div.panel.panel-primary
            div.panel-body
                table.table
                    tr
                        th Application
                        th dev
                        th stg
                        th prod
                    for application, options in applications
                        tr
                            td= application
                            = td(options['dev']) | safe
                            = td(options['stg']) | safe
                            = td(options['prod']) | safe

    div.col-md-4
        div.panel.panel-primary
            div.panel-heading
                h3.panel-title Instances by account
            div.panel-body
                for name, options in by_account
                    p
                        = name
                        = ": "
                        = options['alive']
                        = " alive, "
                        = options['dead']
                        = " dead"

    div.col-md-4
        div.panel.panel-primary
            div.panel-heading
                h3.panel-title Cost by account Last month
            div.panel-body
                for name, options in by_account
                    p
                        = name
                        = ": "
                        = options['cost'][0]

    div.col-md-4
        div.panel.panel-primary
            div.panel-heading
                h3.panel-title Cost by account this month
            div.panel-body
                for name, options in by_account
                    p
                        = name
                        = ": "
                        = options['cost'][1]
