.idea
.idea/*
tags
*.swp
.DS_Store
__pycache__/
*.pyc

deploy/aws/*/ssh_key.pem
deploy/aws/*/bastion_ssh_key.pem
deploy/artifacts

deploy/.bespin
docker/.harpoon
deploy/roles/.syncr

python_dashing/.python-dashing
python_dashing/compiled*
python_dashing/data.json

