*.gem
*.rbc
.idea
.idea/*
tags
*.swp
.DS_Store
docker/.harpoon

deploy/aws/*/ssh_key.pem
deploy/aws/*/bastion_ssh_key.pem
deploy/artifacts

project/.ruby-version
project/.rbenv-gemsets
project/.bundle
project/.config
project/coverage
project/InstalledFiles
project/lib/bundler/man
project/pkg
project/rdoc
project/spec/reports
project/test/tmp
project/test/version_tmp
project/tmp
project/reports
project/vendor/cache
project/vendor/ruby
project/vendor/bundle
project/Dockerfile
project/public/assets

# YARD artifacts
project/.yardoc
project/_yardoc
project/.bin
#project/

# proje ct generated artifacts
project/public/apipie-cache
#project/

# RPM Output
project/result/*
project/db/schema.rb
project/log/
project/tags
project/*.sw*

deploy/.bespin
python_dashing/.python-dashing
deploy/roles/.syncr
__pycache__/
*.pyc
